body {
    background-color: #fffef9;
    font-size: 1.25rem;
}

footer {
    border-top: 1px solid teal;
    margin-top: 5rem;
}

footer .social-icon:hover {
    opacity: .75;
}

.blog main, 
footer > div {
    max-width: 960px;
}

.blog img {
    border-radius: 12px;
    margin: 4rem 0;
}

.card {
    position: relative
}

.card a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

header {
    margin-top: 3rem;
}

h1, h2, h3, h4 {
    font-weight: bold;
    margin: 1.5rem 0 .75rem 0;
}

.blog p {
    margin-bottom: 1rem;
    line-height: 34px;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.25;
    font-weight: 500;
}

h2 {
    font-size: 1.875rem;
    margin-top: 3rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.15rem;
}

.blog a {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

